
.app{
    height: 100%;
    background-color: var(--background);
}
.navbar{
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--background-dark);
}
.nav-item{
    text-decoration: none;
    font-weight: 600;
    color: var(--background);
    text-shadow: -1px 1px 0px var(--accent);
}
.brand-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent);
    text-shadow: -2px 2px 0px var(--background);
}
.main{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.home-header{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}